@import url();
*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;

}
html{
    overflow-x: hidden;
}
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background:linear-gradient(to right,rgb(255,255,255),rgb(245,215,173));


}
nav{
    width: 100%;
    height: 10vh;
    position: sticky;
}
.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.logo{
    color: black;
    font-size: 2rem;
    font-weight: bolder;
}
.logo span{
    color: rgb(109,67,10);
    text-shadow: 0 0 10px rgb(147, 116, 65);
}
.humburg.cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: black;
    font-size: 2rem;
    display: none;
}
.nav-container .links{
    display: flex;
    gap: 3rem;
    align-items: center;
}
.nav-container .links a{
    position: relative;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    font-weight: 550;
    transform: 0.3s linear;
}
.nav-container .links a::before{
    position: absolute;
    content: "";
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(109,67,0);
    transition: 0.2s linear;

}
.nav-container .links a:hover::before{
width: 100%;
}